sphinx
docutils<0.18
sphinx-argparse
git+https://github.com/rmk135/sphinxcontrib-disqus
pandas
nbconvert!=5.4
ipykernel
matplotlib
git+https://github.com/spatialaudio/nbsphinx.git@master
sphinx-gitstamp==0.3.1
pygments>=2.4.1
git+https://github.com/sphinx-contrib/video.git
pandoc
sphinxcontrib-excel
https://github.com/pyexcel/pyexcel-pygal/archive/master.zip
sphinx-copybutton