

hg19_effectiveGenomeSize		2451960000
hg38_effectiveGenomeSize		2782746084
mm9_effectiveGenomeSize		1865500000
mm10_effectiveGenomeSize		2650000000
hg19_chr_count	22
hg38_chr_count	22
hg19_20copy_chr_count	22
hg19_d3_chr_count	22
hg19_d4_chr_count	22
hg19_d13_chr_count	22
mm9_chr_count	19
mm10_chr_count	19
HBG1_chr_count	1
HBG2_chr_count	1

helper_dir		/home/yli11/HemTools/share/misc
mepigram_dir	/research/dept/hem/common/sequencing/chenggrp/pipelines/hg19/methylMotif/bin/
methyl_alphabet		/home/yli11/HemTools/share/methyMotif_bin/methy_abc.txt
chromHMM_jar		/home/yli11/Programs/jar_tools/ChromHMM-1.18/ChromHMM.jar
helper_scripts	/home/yli11/HemTools/share/helper_scripts














