


## NGS pipeline

atac_seq	/home/yli11/HemTools/share/lsf/atac_seq.lsf
cite_seq_vis	/home/yli11/HemTools/share/lsf/cite_seq_vis.lsf
uditas_parallel	/home/yli11/HemTools/share/lsf/uditas_parallel.lsf
gRNA_design_TF	/home/yli11/HemTools/share/lsf/gRNA_design_TF.lsf
motif_cluster	/home/yli11/HemTools/share/lsf/motif_cluster.lsf
fastqc_bwa_bamCoverage	/home/yli11/HemTools/share/lsf/fastqc_bwa_bamCoverage.lsf
# diffPeaks	/home/yli11/HemTools/share/lsf/diffPeaks.lsf
diffGenes	/home/yli11/HemTools/share/lsf/diffGenes.lsf
atac_seq_short	/home/yli11/HemTools/share/lsf/atac_seq_short.lsf
rna_seq_variant_call	/home/yli11/HemTools/share/lsf/rna_seq_variant_call.lsf
rna_seq_variant_call_compare	/home/yli11/HemTools/share/lsf/rna_seq_variant_call_compare.lsf
check_multi_mappers	/home/yli11/HemTools/share/lsf/multi_mappers.lsf
general_variant_calling	/home/yli11/HemTools/share/lsf/general_variant_calling.lsf
hicpro	/home/yli11/HemTools/share/lsf/hicpro.lsf
hichip	/home/yli11/HemTools/share/lsf/hichip.lsf
hichip_MAPS	/home/yli11/HemTools/share/lsf/hichip_MAPS.lsf
single_cell	/home/yli11/HemTools/share/lsf/single_cell.lsf
single_cell2	/home/yli11/HemTools/share/lsf/single_cell2.lsf
minion_lance	/home/yli11/HemTools/share/lsf/minion_lance.lsf
diffPeaks	/home/yli11/HemTools/share/lsf/diffpeak_pipelines/diff_ensemble.lsf
continue_homer_diff	/home/yli11/HemTools/share/lsf/diffpeak_pipelines/continue_homer_diff.lsf

## Other pipelines

bed_overlap_signal	/home/yli11/HemTools/share/lsf/bed_overlap_signal.lsf
jupyter	/home/yli11/HemTools/share/lsf/run_jupyter.lsf
jupyterlab	/home/yli11/HemTools/share/lsf/run_jupyterlab.lsf
methyl_motif	/home/yli11/HemTools/share/lsf/methyl_motif.lsf
homer_motif_scanning	/home/yli11/HemTools/share/lsf/homer_motif_scanning.lsf
crispresso2_WGS	/home/yli11/HemTools/share/lsf/crispresso2_WGS.lsf
prime_editing_SNV	/home/yli11/HemTools/share/lsf/prime_editing_SNV.lsf
gimme_motif_scanning	/home/yli11/HemTools/share/lsf/gimme_motif_scanning.lsf
idr_peaks	/home/yli11/HemTools/share/lsf/idr_peaks.lsf
idr_peaks_half_width	/home/yli11/HemTools/share/lsf/idr_peaks_half_width.lsf
sra_download	/home/yli11/HemTools/share/lsf/sra_download.lsf
signal_plot_one2one	/home/yli11/HemTools/share/lsf/signal_plot_one2one.lsf
signal_plot2	/home/yli11/HemTools/share/lsf/signal_plot2.lsf
signal_plot_bed	/home/yli11/HemTools/share/lsf/signal_plot_bed.lsf
signal_plot_multile_bw_one_bed	/home/yli11/HemTools/share/lsf/signal_plot_multile_bw_one_bed.lsf
signal_plot_multi_bw_multi_bed	/home/yli11/HemTools/share/lsf/signal_plot_multi_bw_multi_bed.lsf
annotate_peaks_bdg	/home/yli11/HemTools/share/lsf/annotate_peaks_bdg.lsf
chromHMM	/home/yli11/HemTools/share/lsf/chromHMM.lsf
chromHMM_TF	/home/yli11/HemTools/share/lsf/chromHMM_TF.lsf
chromHMM_from_binBam	/home/yli11/HemTools/share/lsf/chromHMM_from_binBam.lsf
cas_offinder	/home/yli11/HemTools/share/lsf/casOffinder.lsf
# cut_run_footprint	/home/yli11/HemTools/share/lsf/cut_run_footprint.lsf
cut_run_footprint	/home/yli11/HemTools/share/lsf/foot_print_bk.lsf
cut_run_get_cutsite_bw	/home/yli11/HemTools/share/lsf/cut_run_get_cutsite_bw.lsf
atac_seq_footprint	/home/yli11/HemTools/share/lsf/atac_seq_footprint.lsf
normalize_bw	/home/yli11/HemTools/share/lsf/normalize_bw.lsf
crispresso2_BE	/home/yli11/HemTools/share/lsf/crispresso2_BE.lsf
crispressoPooled_BE	/home/yli11/HemTools/share/lsf/crispressoPooled_BE.lsf
crispresso2_BE_PCR	/home/yli11/HemTools/share/lsf/crispresso2_BE_PCR.lsf
crispresso2_indel_PCR	/home/yli11/HemTools/share/lsf/crispresso2_indel_PCR.lsf
cirspresso2_PE_PCR	/home/yli11/HemTools/share/lsf/cirspresso2_PE_PCR.lsf
crispresso2_PE	/home/yli11/HemTools/share/lsf/crispresso2_PE.lsf
crispresso_PE_HDR	/home/yli11/HemTools/share/lsf/crispresso_PE_HDR.lsf
crispresso2_BE_BWA_PCR	/home/yli11/HemTools/share/lsf/crispresso2_BE_BWA_PCR.lsf
crispresso2_indel_BWA_PCR	/home/yli11/HemTools/share/lsf/crispresso2_indel_BWA_PCR.lsf
crispresso2_WGS	/home/yli11/HemTools/share/lsf/crispresso2_WGS.lsf
normalize_bw_given_peak	/home/yli11/HemTools/share/lsf/normalize_bw_given_peak.lsf
homer_motif_discovery	/home/yli11/HemTools/share/lsf/homer_motif_discovery.lsf
motif_footprint_from_bw	/home/yli11/HemTools/share/lsf/motif_footprint_from_bw.lsf
find_co_occur_kmer	/home/yli11/HemTools/share/lsf/find_co_occur_kmer.lsf
bw_corr	/home/yli11/HemTools/share/lsf/bw_corr.lsf
run_bamCoverage	/home/yli11/HemTools/share/lsf/run_bamCoverage.lsf
summerize_R1_R2_mapping	/home/yli11/HemTools/share/lsf/summerize_R1_R2_mapping.lsf
bdg_to_bw	/home/yli11/HemTools/share/lsf/bdg_to_bw.lsf
blood_ATAC	/home/yli11/HemTools/share/lsf/blood_ATAC.lsf
blood_ATAC_bw	/home/yli11/HemTools/share/lsf/blood_ATAC_bw.lsf
bw_merge	/home/yli11/HemTools/share/lsf/bw_merge.lsf
gene_fusion	/home/yli11/HemTools/share/lsf/gene_fusion.lsf
GREGOR	/home/yli11/HemTools/share/lsf/GREGOR.lsf
capturec	/home/yli11/HemTools/share/lsf/capturec.lsf
bam_to_bw	/home/yli11/HemTools/share/lsf/bam_to_bw.lsf
motif_co_occurrence	/home/yli11/HemTools/share/lsf/motif_co_occurrence.lsf
feature_count	/home/yli11/HemTools/share/lsf/feature_count.lsf
bwa_mem	/home/yli11/HemTools/share/lsf/bwa_mem.lsf
trinity	/home/yli11/HemTools/share/lsf/trinity.lsf
bam_trinity	/home/yli11/HemTools/share/lsf/bam_trinity.lsf
vartrix	/home/yli11/HemTools/share/lsf/vartrix.lsf
crispresso2_indel	/home/yli11/HemTools/share/lsf/crispresso2_indel.lsf
crispresso2_indel_auto	/home/yli11/HemTools/share/lsf/crispresso2_indel_auto.lsf
bwCompare	/home/yli11/HemTools/share/lsf/bwCompare.lsf
replicate_correlation	/home/yli11/HemTools/share/lsf/replicate_correlation.lsf
replicate_correlation_bw	/home/yli11/HemTools/share/lsf/replicate_correlation_bw.lsf
replicate_correlation_bw_intersection	/home/yli11/HemTools/share/lsf/replicate_correlation_bw_intersection.lsf
S3norm_bam	/home/yli11/HemTools/share/lsf/S3norm_bam.lsf
S3norm_bdg	/home/yli11/HemTools/share/lsf/S3norm_bdg.lsf
S3norm_bw	/home/yli11/HemTools/share/lsf/S3norm_bw.lsf
easy_prime_alpha	/home/yli11/HemTools/share/lsf/easy_prime_alpha.lsf
MSPC	/home/yli11/HemTools/share/lsf/MSPC.lsf
tf_target_finder	/home/yli11/HemTools/share/lsf/tf_target_finder.lsf
sci_l3_seq	/home/yli11/HemTools/share/lsf/sci_l3_seq.lsf
cas_motif	/home/yli11/HemTools/share/lsf/cas_motif.lsf
new_genome	/home/yli11/HemTools/share/lsf/new_genome.lsf
new_genome_multiple	/home/yli11/HemTools/share/lsf/new_genome_multiple.lsf
crispr_seq	/home/yli11/HemTools/share/lsf/crispr_seq.lsf
hicpro_split	/home/yli11/HemTools/share/lsf/hicpro_split.lsf
hicpro_captureC	/home/yli11/HemTools/share/lsf/hicpro_captureC.lsf
hicpro_split_rerun	/home/yli11/HemTools/share/lsf/hicpro_split_rerun.lsf
hicpro_split_debug	/home/yli11/HemTools/share/lsf/hicpro_split_debug.lsf
hicpro_genome	/home/yli11/HemTools/share/lsf/hicpro_genome.lsf
hicpro_genome_mask	/home/yli11/HemTools/share/lsf/hicpro_genome_mask.lsf
hicpro_batch	/home/yli11/HemTools/share/lsf/hicpro_batch.lsf
AB_compartment	/home/yli11/HemTools/share/lsf/AB_compartment.lsf
motif_annotation	/home/yli11/HemTools/share/lsf/motif_annotation.lsf
count_integration	/home/yli11/HemTools/share/lsf/count_integration.lsf
R1_R2_strand_bias	/home/yli11/HemTools/share/lsf/CHANGE_SEQ/R1_R2_strand_bias.lsf





