##############################################################################
# CHIPSEQ ENRICHMENT CONFIGURATION FILE
# This configuration file contains run-time configuration of
# CHIP_SEQ ENRICHMENT
###############################################################################
## KEY ELEMENTS TO CONFIGURE : NEED TO MODIFY
###############################################################################
BED_FILE_INDEX = bed.index
REF_DIR = /home/yli11/dirs/blood_regulome/chenggrp/Data_resource/GREGOR_ref
R2THRESHOLD = 0.7 ## must be greater than 0.7
LDWINDOWSIZE = 1000000 ## must be less than 1MB; these two values define LD buddies
MIN_NEIGHBOR_NUM = 500 ## define the size of neighborhood
BEDFILE_IS_SORTED = true  ## false, if the bed files are not sorted
POPULATION = EUR  ## define the population, you can specify EUR, AFR, AMR or ASN
TOPNBEDFILES = 2 
JOBNUMBER = 10
BATCHTYPE = local
INDEX_SNP_FILE = {{SNP_feature_file}} 
OUT_DIR = {{SNP_feature_name}}